.search-wrapper {
  text-align: center;
  margin: 20px;
}

.search-inp {
  width: 50%;
  height: 40px;
  background: white;
  border: none;
  padding: 5px 20px;
  letter-spacing: 2px;
  transition: border-bottom 0.5s ease;
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
  border-bottom: 1.5px solid cornflowerblue;
}
